@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-background: var(--background);
  --font-sans: var(--font-ubuntu), ui-sans-serif, system-ui, sans-serif;
  /* --color-custom-button-color: var(--custom-button-color); */
}

:root {
  --background: #9b5a19;
  /* --custom-button-color: #f58220; */
  /* scrollbar-gutter: stable; */
}

@layer base {
  body {
    @apply bg-background;
    font-family: var(--font-ubuntu);
  }

}